body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.calculator {
    background-color: black;
    width: 30vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    box-sizing: border-box;
    padding: 5%;
    font-size: 2vw;
    
}

.calculator__display {
    grid-column: span 4;
    width: 100%;
    height: 2em;
    cursor: default;
    text-align: right;
    font-size: 1.4em;
    color: black;
    background-color: white;
    padding: 0.4em;
    border: none;
    border-radius: 0.3em;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

.calculator__expression {
    grid-column: span 4;
    width: 100%;
    height: 1.2em;
    text-align: right;
    font-size: 0.7em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 0.3em;
    padding: 0.3em;
    margin-bottom: 0.3em;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
}


.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 0.2em;
}

.calculator__button {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(52, 52, 52);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.calculator__button:hover {
    background-color: rgba(72, 72, 72, 0.8);
    position: relative;
    z-index: 5;
    transform: scale(1.15);
}

.calculator__button--orange {
    background-color: orange;
}

.calculator__button--gray {
    background-color: gray;
}