/* box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* document */
html, body {
  margin: 0;
  padding: 0;
}

/* typography */
body {
  font-family: system-ui, sans-serif;
}

/* media */
img {
  max-width: 100%;
  display: block;
}

/* forms */
button,
input,
textarea {
  font-family: inherit;
}

/* accessibility */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}